body{padding: 0px;
    margin: 0px;
    line-height: 1.6;
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif !important;
    color: #222;
    font-size: 14px;
}

input{
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
	margin-top:4px;
    
}
input:focus{
    border:1px solid rgb(55, 182, 238);;
    box-shadow: 0 0 2px rgb(33, 162, 238);
    -webkit-box-shadow: 0 0 2px rgb(33, 162, 238);
    -moz-box-shadow: 0 0 2px rgb(33, 162, 238);
}
h3 {
display: block;
font-size: 18px;
font-weight: 600;
}

.main{
	width:60%;
	margin:80px auto;
	height:auto;
	background:#fff;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
BORDER: #dadada 0px solid;
box-shadow: 1px 1px 3px #e5e5e5;
font-size: 15px;
line-height: 25px;
}
.main .content{
	height:auto;

}
@media screen and (max-width:799px){
	.main{
		width:100%;
		margin:0 auto;
		
		background:#FFFFFF;
	}
}
h1{
	margin:1em auto;
	text-align:center;
}
.div_from_aoto{
    margin-left: auto;
    margin-right: auto;
    padding-left:10px;
    margin-top: 30px;
	
}
.laber_from{
    width: 100px;
    float: left;
    line-height: 35px;
    color: #222;
    font-weight: normal;
}
.control-group{
    padding-bottom: 10px;
}
.input_select{
    width: 100px;
    height: 30px;
    cursor: pointer;
}
